/*Flexbox*/
/*
* {
    box-sizing: border-box;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-display-right {
    position: relative;
    bottom: 57px;
    right: -4px;
    transform: translate(0%,-50%);
    padding-bottom: 8px;
    width: inherit;
}

.w3-display-left {
    position: relative;
    bottom: 57px;
    left: 16px;
    transform: translate(0%,-50%);
    padding-bottom: 8px;
    width: inherit;
}


.w3-btn, .w3-button {
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
}
*/

/*Series Tumbnails*/

}
